In [1]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## map and filter

In [2]:
items = [500,30,2000]
c = 30.8594

In [5]:
for p in items:
    print(p*c)

15429.7
925.782
61718.8

In [14]:
egg =[]
for item in items:
    p = item*c
    print(p)
    egg.append(p)

15429.7
925.782
61718.8

In [13]:
egg

[15429.7, 925.782, 61718.8]

In [15]:
def exchange(p):
    return p*c

In [16]:
exchange(500)

15429.7

In [17]:
list(map(exchange,items))

[15429.7, 925.782, 61718.8]

In [18]:
egg = list(map(exchange,items)) ##remember

In [19]:
egg

[15429.7, 925.782, 61718.8]

### lambda 救急函數

In [23]:
list(map(lambda p:p*c,items))

[15429.7, 925.782, 61718.8]

### list comprehension

In [24]:
[p*c for p in items]

[15429.7, 925.782, 61718.8]

### filter 過濾

In [25]:
grades = [50,59,65,80,100,35,40,88]

In [26]:
def spam(g):
    return g>=60

In [27]:
spam(50)

False

In [28]:
spam(80)

True

In [29]:
filter(spam,grades)

In [31]:
list(filter(spam,grades))

[65, 80, 100, 88]

### lambda

In [32]:
filter(lambda g:g>=60,grades)

In [34]:
list(filter(lambda g:g>=60,grades))

[65, 80, 100, 88]

### print 的使用

In [35]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [36]:
for i in range(10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [37]:
for i in range(10):
    print(i,end=",")

0,1,2,3,4,5,6,7,8,9,

In [38]:
print("price",400)

price 400

In [39]:
print("price"+400)

TypeError: can only concatenate str (not "int") to str

In [42]:
print("price: "+"400")

price: 400

In [43]:
p=500

In [46]:
print("price: "+str(p))

price: 500

In [47]:
mylist=['a','b','c','d']

In [48]:
'*'.join(mylist)

'a*b*c*d'

In [49]:
','.join(mylist)

'a,b,c,d'

In [51]:
s = ', '.join(mylist)
print(s)

a, b, c, d

In [54]:
for i in range(10):
    print(i,','.join(i))

TypeError: can only join an iterable